.login-container{
    display: flex;
    flex-direction: row;
}

.login-heading{
    color: #253D90;
    align-self: flex-start;
    font-weight: bold;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    padding: 30px;
    
}

.login-account-text{
    color: #969696;
    font-size: 20px;
    align-self: flex-start;
    font-weight: 500;
}

.form-container-login{
    color: #253D90;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.org-name-label{
    margin-bottom: 10px;
    margin-top: 8px;
}

.text-box{
     width: 300px;           
    height: 35px;            
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.bg-image-container{
    background-image: linear-gradient(rgba(37, 61, 144, 1), rgba(37, 61, 144,0.5)),
    url("https://res.cloudinary.com/dhlbduxoj/image/upload/v1763847422/african-american-employer-holding-employment-agreement-handshaking-candidate-close-up-view_1_on8ltt.png");
    background-size: cover;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.dummy-text{
    color: #FFFFFF;
    font-weight: bold;
}

.hr-text{
    color: #FFC20E;
}

.error-msg{
    color: #ff0f0f;
    margin-top: 8px;
}