.register-form{
    display: flex;
    flex-direction: column;

}

.register-container{
    display: flex;
    flex-direction: row;
}

.register-org-detail{
    background-image: 
     linear-gradient(rgba(37, 61, 144, 0.5), rgba(37, 61, 144, 0.5)),
    url("https://res.cloudinary.com/dhlbduxoj/image/upload/v1763812034/istockphoto-1140300365-612x612_1_a1c8bf.png");
    background-size: cover;
    background-color: #253D90;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    padding-left: 40px;
}

.horizontal-container{
    height: 20px;
    width: 60px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 8px;
    margin-left: 0px;
}


.title-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.register-form-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.org-title{
    color: #253D90;
}

.registration-txt{
    color: #969696;
    font-size: 20px;
    text-align: left;
}

.label-org-name{
    color: #253D90;
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 10px;
}

.text-box{
     width: 300px;           
    height: 35px;            
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}
.error-msg{
    color: #ff0f0f;
    margin-top: 8px;
}
